/* Start Globle Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

:root {
  --primary-color: #724215;
  --second-color: #a6794f;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}
/* End Globle Rules */

/* Start Componnets  */
.section-title {
  padding: 8px 10px 8px 40px;
  width: fit-content;
  font-size: 25px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 200px 0 0 200px;
}
/* End Componnets  */

/* Start Header */
/* Start Navbar */

.links ul li a {
  font-weight: 600;
}
.links ul li a.active,
.links ul li:hover > a {
  color: var(--primary-color) !important;
}
.icons svg {
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px;
}
.icons .cart span {
  position: absolute;
  top: -12px;
  right: -5px;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: white;
  padding: 1px 5px;
  font-size: 13px;
}
a.logo img {
  width: 30px;
}

@media (max-width: 768px) {
  .icons {
    width: fit-content;
    margin: 0 auto;
    flex-direction: row !important;
    gap: 20px;
  }
  .links ul {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
}

/* End Navbar */

/* Start Landing */
header .landing {
  width: 100%;
  padding: 40px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
header .main {
  height: 100vh;
  background-image: url(../img/release-bg.jpg);
}
.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(114, 66, 21, 0.5);
}
.landing .landing-content .last-releases-books {
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .landing .landing-content .last-releases-books {
    margin-top: -0.5rem;
  }
}
.landing .landing-content .last-releases-books .text h1:nth-of-type(1) {
  font-size: 30px;
}
.landing .landing-content .last-releases-books .text h1:nth-of-type(2) {
  font-size: 120px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.landing .landing-content .last-releases-books .text h1:nth-of-type(3) {
  font-size: 60px;
}
@media (max-width: 1024px) {
  .landing .landing-content .last-releases-books .text h1:nth-of-type(1) {
    font-size: 30px;
  }
  .landing .landing-content .last-releases-books .text h1:nth-of-type(2) {
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .landing .landing-content .last-releases-books .text h1:nth-of-type(3) {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .landing .landing-content .last-releases-books .text h1:nth-of-type(1) {
    font-size: 25px;
  }
  .landing .landing-content .last-releases-books .text h1:nth-of-type(2) {
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .landing .landing-content .last-releases-books .text h1:nth-of-type(3) {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  .landing .landing-content .last-releases-books .text h1:nth-of-type(1) {
    font-size: 20px;
  }
  .landing .landing-content .last-releases-books .text h1:nth-of-type(2) {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .landing .landing-content .last-releases-books .text h1:nth-of-type(3) {
    font-size: 30px;
  }
}
.landing .landing-content .last-releases-books .imgs {
  width: 500px;
}
@media (max-width: 1024px) {
  .landing .landing-content .last-releases-books .imgs {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .landing .landing-content .last-releases-books .imgs {
    margin-top: 15px;
    width: 300px;
  }
}
.landing .landing-content .last-releases-books .imgs img {
  width: 150px;
}
@media (max-width: 1024px) {
  .landing .landing-content .last-releases-books .imgs img {
    width: 90px;
  }
}
@media (max-width: 768px) {
  .landing .landing-content .last-releases-books .imgs img {
    width: 90px;
  }
}
.landing .wave {
  position: absolute;
  width: 100%;
  bottom: -50px;
}

@media (max-width: 425px) {
  .landing .wave {
    bottom: -20px;
  }
}
@media (max-width: 320px) {
  .landing .wave {
    bottom: 0px;
  }
}
.landing .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 3;
}

.landing .swiper-pagination span {
  background-color: #ffffff;
}
.change-background {
  --swiper-navigation-color: transparent;
}
.change-background::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  border-radius: 50%;
  padding: 0px 7px;
}
.landing .change-background::before {
  border: 1px solid white;
  color: white;
}
.landing .swiper-button-prev::before {
  content: "\f104";
  margin-left: -10px;
}
.landing .swiper-button-next::before {
  content: "\f105";
  margin-right: 30px;
}

@media (max-width: 320px) {
  .landing .change-background {
    display: none;
  }
}
/* End Landing */

/* End Header */

/* Start Last Release Section */
.release {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.release .swiper-wrapper {
  display: flex;
}

.release .swiper-slide {
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  padding: 50px 0px;
}

.release .swiper-slide img {
  width: 70%;
}
.release .swiper-slide .categiory {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.release .swiper-slide .title {
  margin-bottom: 30px;
}
.release .swiper-slide .price {
  width: fit-content;
  margin-right: auto;
  background-color: var(--primary-color);
  padding: 5px 20px;
  color: white;
  border-radius: 0 40px 40px 0;
}
.release .change-background::before {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.release .swiper-button-prev::before {
  content: "\f105";
  margin-left: -20px;
}
.release .swiper-button-next::before {
  content: "\f104";
  margin-right: 30px;
}
/* End Last Release Section */

/* Start Blooger */
.blooger-section .blooger {
  width: 100%;
  /* height: 100vh; */
  /* padding-top: 150px;
  padding-bottom: 150px; */
  background-image: url(../img/blooger.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.blooger-section .blooger .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(114, 66, 21, 0.5);
}
.blooger-section .blooger .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 30px;
}
.blooger-section .blooger .box {
  background-color: white;
  border-radius: 25px 25px 0 0;
}
.blooger-section .blooger .box img {
  border-radius: 25px 25px 0 0;
  width: 100%;
}
.blooger-section .blooger .category {
  margin-top: 20px;
  border-radius: 25px 0 0 25px;
  background-color: var(--primary-color);
  width: 90px;
  color: white;
  padding: 2px 10px;
  text-align: start;
}
.blooger-section .blooger .title {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.blooger-section .blooger .info {
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 12px;
}
.blooger-section .blooger .info i {
  color: var(--primary-color);
}
.blooger-section .blooger .text-content {
  padding: 0 40px 20px;
  font-weight: 700;
}
.blooger-section .button {
  width: fit-content;
  background-color: var(--primary-color);
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
}
/* End Blooger */

/* start Our Value */
.our-values .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 30px;
}
.our-values .box-header {
  background-color: var(--second-color);
  text-align: center;
}
.our-values .box-header i {
  font-size: 60px;
  padding-top: 60px;
}
.our-values .box-header h2 {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 15px;
}
.our-values .box-footer {
  margin-top: -18px;
  background-color: var(--primary-color);
  text-align: center;
}
.our-values .box-footer h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}
/* End Our Value */

/* Start Subscriber */
.subscriber .label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.subscriber .label i {
  font-size: 100px;
}
.subscriber .label .text h1 {
  color: var(--primary-color);
  padding-top: 20px;
  margin-bottom: 10px;
}
.subscriber .label .text p {
  color: #6f6f6f;
}
.subscriber .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .subscriber .container {
    flex-direction: column;
    gap: 20px;
  }
}
.subscriber .container .input input[type="email"] {
  padding: 11px 20px;
  margin-left: -4px;
  width: 350px;
  border: 1px solid black;
  border-left: none;
  /* border-bottom: 1px solid black;
  border-top: 1px solid black; */
}

.subscriber .container .input input[type="email"]::placeholder {
  text-align: end;
}
.subscriber .container .input input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 35px;
}
@media (max-width: 425px) {
  .subscriber .container .input input[type="email"] {
    width: 100%;
    border: 1px solid black;
  }
  .subscriber .container .input input[type="submit"] {
    width: 100%;
    margin-top: 10px;
  }
}
/* End Subscriber */

/* Start Footer */
footer .footer-header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 10px;
}
footer .footer-header .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 30px;
}
footer .footer-header .container .box ul li a {
  color: white !important;
}
footer .footer-header .container .box ul li a:hover {
  text-decoration: underline !important;
}
footer .footer-footer {
  color: white !important;
  background-color: var(--second-color);
  padding-top: 25px;
  padding-bottom: 20px;
}
footer .footer-footer p {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
/* End Footer */

/*************************** Start Our Books page *****************************/

/* Start Landing */
header .our-books {
  background-image: url(../img/our-books.jpg);
}
.landing-title {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  line-height: 1.7;
  font-size: 50px;
}
/* End Landing */

/* Start Filters */
.filters .container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 425px) {
  .filters .container form {
    flex-direction: column;
    gap: 10px;
  }
}
.filters .container form h1 {
  color: var(--primary-color);
}

.filters .container form input {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px 20px;
  width: 150px;
}
/* End Filters */

/* Start Books Release */
.release-books {
}
.release-books .header {
  background-color: var(--primary-color);
}
.release-books .header .sort-by button {
  background-color: var(--primary-color) !important;
  border-radius: 0;
  width: 200px;
  text-align: start;
}
@media (max-width: 425px) {
  .release-books .header .sort-by button {
    width: 250px;
    margin-bottom: 15px;
  }
}
.books-release-content {
}
.books-release-content .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}
.books-release-content .boxes .box {
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  padding: 50px 0px;
  position: relative;
}
.books-release-content .boxes .box i {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 25px;
  color: #7242159a;
  cursor: pointer;
}
.books-release-content .boxes .box i.liked {
  color: var(--primary-color);
}

.books-release-content .boxes .box img {
  width: 70%;
}
.books-release-content .boxes .box .categiory {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.books-release-content .boxes .box .title {
  margin-bottom: 30px;
}
.books-release-content .boxes .box .price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.books-release-content .boxes .box .price {
  width: fit-content;
  margin-right: auto;
  background-color: var(--primary-color);
  padding: 5px 20px;
  color: white;
  border-radius: 0 40px 40px 0;
}
.books-release-content .boxes .box .cart {
  width: fit-content;
  background-color: var(--primary-color);
  padding: 5px 20px;
  color: white;
  border-radius: 40px 0 0 40px;
  cursor: pointer;
}
.books-release-content .button {
  margin: 30px auto;
  width: fit-content;
  background-color: var(--primary-color);
  padding: 5px 15px;
  color: white;
}
/* End Books Release */

/*************************** End Our Books page *****************************/

/*************************** Start Publish Your Book *****************************/

header .publish-your-book {
  background-image: url(../img/publish-your-book.jpg);
}
/* Start info */
.start-info {
}
.start-info .descrption {
  width: 750px;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .start-info .descrption {
    width: 100%;
  }
}
.start-info .box {
  margin-bottom: 50px;
}
.start-info .box .title {
  font-size: 25px;
  font-weight: bold;
}
.start-info .box ul {
  margin-top: 20px;
  list-style: square;
}
.start-info .box ul p {
  font-size: 20px;
}
/* End info */

/* Start Form  */
.form {
}
.form .title {
  width: fit-content;
  color: var(--primary-color);
  margin: 0 auto;
  font-weight: 800;
}
.form form {
  margin-top: 80px;
}
.form form .box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .form form .box {
    flex-direction: column;
  }
}
.form form .box label {
  font-size: 18px;
  width: 15%;
}
.form form .box label span {
  color: var(--primary-color);
}
@media (max-width: 425px) {
  .form form .box label {
    width: 100%;
    margin-bottom: 10px;
  }
}
.form form .box input:not(.form-control),
.form form .box textarea {
  width: 100%;
  border: 1px solid #cfd3db;
  padding: 15px;
}
.form form .box input {
  height: 40px;
}
.form form .box input[type="email"] {
  text-align: end;
}

.form form .box textarea {
  height: 150px;
}
/* End Form  */

/*************************** End Publish Your Book *****************************/

/*************************** Start blogger *****************************/

header .blooger {
  background-image: url(../img/blooger.jpg);
}
/* Start Artical Section */

.articals-section .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 50px;
}
.articals-section .box {
  background-color: white;
  border-radius: 25px 25px 0 0;
  border: 1px solid black;
}
.articals-section .box img {
  border-radius: 25px 25px 0 0;
  width: 100%;
}
.articals-section .category {
  margin-top: 20px;
  border-radius: 25px 0 0 25px;
  background-color: var(--primary-color);
  width: 90px;
  color: white;
  padding: 2px 10px;
  text-align: start;
}
.articals-section .title {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.articals-section .info {
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 12px;
}
.articals-section .info i {
  color: var(--primary-color);
}
.articals-section .text-content {
  padding: 0 40px 20px;
  font-weight: 700;
}
.articals-section .button {
  width: fit-content;
  background-color: var(--primary-color);
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
}
/* End Artical Section */

/*************************** End blogger *****************************/

/*************************** Start contact us *****************************/
header .contact-us {
  background-image: url(../img/contact-us.jpg);
}

/* Start Contact Us Info */
.conatct-info .title {
  width: fit-content;
  color: var(--primary-color);
  margin: 0 auto;
  font-weight: 800;
  text-align: center;
}
.conatct-info p {
  width: fit-content;
  margin: 20px auto;
  font-size: 22px;
  text-align: center;
}

.conatct-info .boxes {
  margin-top: 80px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 30px;
}
.conatct-info .box-header {
  background-color: var(--second-color);
  text-align: center;
}
.conatct-info .box-header i {
  font-size: 60px;
  padding-top: 60px;
}
.conatct-info .box-header h2 {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 15px;
}
.conatct-info .box-footer {
  margin-top: -18px;
  background-color: var(--primary-color);
  text-align: center;
}
.conatct-info .box-footer h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}

/* End Contact Us Info */

/*************************** End contact us *****************************/

/*************************** Start single-book *****************************/
.book-info {
}
.book-info .big-title-section {
  background-color: var(--primary-color);
}
@media (max-width: 320px) {
  .book-info .big-title-section .title {
    font-size: 22px;
  }
}
.book-info .book-info-details {
  margin-top: 60px;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .book-info .book-info-details {
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
}
.book-info .book-info-details img {
  width: 400px;
}
@media (max-width: 768px) {
  .book-info .book-info-details img {
    width: 100%;
  }
}
.book-info .book-info-details .text {
  position: relative;
}
.book-info .book-info-details .text .title {
  color: var(--primary-color);
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .book-info .book-info-details .text .title {
    font-size: 20px;
  }
}
.book-info .book-info-details .text .price {
  position: absolute;
  background-color: var(--primary-color);
  color: white;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 40px 0 0 40px;
  right: -25px;
}
@media (max-width: 768px) {
  .book-info .book-info-details .text .price {
    position: initial;
    border-radius: 0;
    margin: 0 auto;
  }
}
.book-info .book-info-details .text .description {
  margin-top: 100px;
}
@media (max-width: 768px) {
  .book-info .book-info-details .text .description {
    margin-top: 20px;
  }
}
.book-info .book-info-details .text .description p {
  font-size: 20px;
  line-height: 1.7;
}
@media (max-width: 768px) {
  .book-info .book-info-details .text .add-to-cart {
    justify-content: space-evenly !important;
    margin-top: 20px;
  }
}
.book-info .book-info-details .text .add-to-cart .quntity {
  position: relative;
  margin-right: 30px;
}

.book-info .book-info-details .text .add-to-cart .quntity input {
  width: 60px;
  height: 30px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  text-align: center;
}
.book-info
  .book-info-details
  .text
  .add-to-cart
  .quntity
  input::-webkit-outer-spin-button,
.book-info
  .book-info-details
  .text
  .add-to-cart
  .quntity
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.book-info .book-info-details .text .add-to-cart .quntity button {
  width: 30px;
  height: 30px;
  position: absolute;
  border: none;
  background-color: var(--primary-color);
  color: white;
}
.book-info .book-info-details .text .add-to-cart .quntity .plus {
  right: -30px;
}
.book-info .book-info-details .text .add-to-cart .quntity .mins {
  left: -30px;
}
.book-info .book-info-details .text .add-to-cart a {
  background-color: var(--primary-color);
  padding: 5px 35px;
  border-radius: 40px;
}
@media (max-width: 320px) {
  .book-info .book-info-details .text .add-to-cart a {
    padding: 5px 10px;
  }
}
.book-info .tabs {
}
@media (max-width: 425px) {
  .book-info .tabs {
    flex-direction: column;
    align-items: center !important;
    width: 100% !important;
  }
}
.book-info .tabs .tab-header {
  width: 30%;
}
@media (max-width: 425px) {
  .book-info .tabs .tab-header {
    width: 100% !important;
    margin-bottom: 20px;
    border: 0;
  }
}
.book-info .tabs .tab-header button {
  width: 200px;
  color: black;
  border-radius: 0;
  font-weight: bold;
  text-align: start;
}
@media (max-width: 425px) {
  .book-info .tabs .tab-header button {
    width: 100% !important;
    border: 0;
    text-align: center;
  }
}
.book-info .tabs .tab-header .active {
  border: none;
  background-color: var(--primary-color);
  color: white;
}
.book-info .tabs .tab-content {
  width: 100%;

  border: 1px solid black;
  padding: 25px;
}
.book-info .tabs .tab-content h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.book-info .tabs .tab-content .text {
  font-size: 18px;
}
.book-info .tabs .tab-content .text .alert-primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
}
.comments .box {
  border-bottom: 2px solid var(--primary-color);
}
.comments .box i {
  color: var(--primary-color);
}
.comments .write-comment {
  margin-top: 40px;
  margin-bottom: 40px;
}
.comments .write-comment .title {
  width: fit-content;
  color: var(--primary-color);
  margin: 0 auto;
  font-weight: 800;
  margin-bottom: 50px;
}

.comments .write-comment form .box-comment {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 20px;
}

@media (max-width: 425px) {
  .comments .write-comment form .box-comment {
    flex-direction: column;
  }
}
.comments .write-comment form .box-comment label:not(.rating) {
  font-weight: bold;
  font-size: 18px;
  width: 200px;
}
@media (max-width: 425px) {
  .comments .write-comment form .box-comment label:not(.rating) {
    margin-bottom: 10px;
  }
}
.comments .write-comment form .box-comment input:not(.rating) {
  width: 100%;
  padding: 5px 10px;
}
.comments .write-comment form .box-comment .rating-stars {
  width: 100%;
}
.comments .write-comment form .box-comment textarea {
  width: 100%;
  height: 150px;
  padding: 5px 10px;
}
.comments .write-comment form .box-comment .rating-stars {
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
}
.comments .write-comment form .box-comment .rating-stars label {
}

.comments .write-comment form .box-comment .rating-stars > input {
  display: none;
}
.comments .write-comment form .box-comment .rating-stars > label {
}
.comments .write-comment form .box-comment .rating-stars > label::before {
  display: block;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  cursor: pointer;
  transition-duration: 0.7ms;
  color: var(--primary-color);
}

.comments
  .write-comment
  form
  .box-comment
  .rating-stars
  > input:checked
  ~ label::before {
  color: var(--primary-color);
  font-weight: 900;
}

/* Start other book */

.other-book {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.other-book .swiper-wrapper {
  display: flex;
}

.other-book .swiper-slide {
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  padding: 50px 0px;
}

.other-book .swiper-slide img {
  width: 70%;
}
.other-book .swiper-slide .categiory {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.other-book .swiper-slide .title {
  margin-bottom: 30px;
}
.other-book .swiper-slide .price {
  width: fit-content;
  margin-right: auto;
  background-color: var(--primary-color);
  padding: 5px 20px;
  color: white;
  border-radius: 0 40px 40px 0;
}
.other-book .change-background::before {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.other-book .swiper-button-prev::before {
  content: "\f105";
  margin-left: -20px;
}
.other-book .swiper-button-next::before {
  content: "\f104";
  margin-right: 30px;
}

/* End other book */

/*************************** End single-book *****************************/

/*************************** End single Artical *****************************/
header .single-artical {
  background-image: url(../img/nadariat-almoutakaf.jpg);
}
.single-artical .artical-info {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .single-artical .artical-info {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}
.single-artical .artical-info img {
  width: 100%;
}
.single-artical .artical-info .category {
  background-color: black;
  padding: 5px 15px;
  border-radius: 40px;
}
.single-artical .artical-info .title {
  font-size: 50px;
}
@media (max-width: 425px) {
  .single-artical .artical-info .title {
    font-size: 40px !important;
  }
  .single-artical .artical-info .category {
    font-size: 15px !important;
  }
  .single-artical .artical-info .date {
    font-size: 15px !important;
  }
}

/* Start Artical Section */
.artical-section .publish-artcial {
  color: var(--primary-color);
}
.artical-section .publish-artcial ul li .pdf {
  background-color: var(--primary-color);
  padding: 2px 10px;
}
.other-artical .box-artical img {
  width: 200px;
}
@media (max-width: 375px) {
  .other-artical .box-artical img {
    width: 120px;
  }
}
@media (max-width: 1024px) {
  .other-artical .box-artical .title-artical {
    font-size: 18px;
  }
  .other-artical .box-artical .date {
    font-size: 15px;
  }
}

/* End Artical Section */

/*************************** End single Artical *****************************/

/*************************** Start sign in page *****************************/
/* Start sign in */
.sign-in {
}
.sign-in .sign-in-header {
  width: fit-content;
  margin: 50px auto;
  text-align: center;
}
@media (max-width: 425px) {
  .sign-in .sign-in-header {
    /* margin: 0; */
  }
}

.sign-in .sign-in-header .title {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 50px;
}
.sign-in .sign-in-header i {
  font-size: 100px;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  padding: 60px 50px;
  border-radius: 50%;
}
.login .log-in {
  font-size: 250px !important;
  color: var(--primary-color);
  border: none !important;
  padding: 0 !important;
}
.sign-in .form {
  width: 500px;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .sign-in .form {
    width: 100%;
  }
}

.sign-in .form .box {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in .form .box label {
  width: 40%;
  font-weight: 700;
  font-size: 17px;
}
@media (max-width: 425px) {
  .sign-in .form .box label {
    width: 100%;
  }
}
.sign-in .form .box input {
  width: 100%;
  border: 1px solid black !important;
  padding: 0px 20px !important;
  border-radius: 40px;
}
.sign-in .form .checkbox-submit label {
  font-size: 20px;
}
@media (max-width: 425px) {
  .sign-in .form .checkbox-submit label {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .sign-in .form .checkbox-submit label {
    font-size: 11px;
  }
}
.sign-in .form .checkbox-submit label a {
  color: var(--primary-color) !important;
}
.sign-in .form .checkbox-submit label a:hover {
  text-decoration: underline !important;
}
.sign-in .form .checkbox-submit p {
  font-size: 14px;
}
@media (max-width: 425px) {
  .sign-in .form .checkbox-submit p {
    font-size: 10px;
  }
}
.sign-in .form .checkbox-submit input[type="submit"] {
  font-size: 18px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px 30px;
  border-radius: 40px;
  font-weight: bold;
}
@media (max-width: 425px) {
  .sign-in .form .checkbox-submit input[type="submit"] {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .sign-in .form .checkbox-submit input[type="submit"] {
    font-size: 12px;
  }
}
.sign-in .login {
}
.sign-in .login a {
  color: var(--primary-color) !important;
}
.sign-in .login a:hover {
  text-decoration: underline !important;
}

/* End sign in */

/*************************** End sign in page *****************************/

/*************************** Start My Profile page *****************************/
.my-profile {
}
.my-profile .slid-bar {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
}

.my-profile .slid-bar i {
  font-size: 100px;
  border: 3px solid white;
  padding: 50px 60px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .my-profile .slid-bar i {
    font-size: 50px;
    padding: 20px 25px;
  }
}

.my-profile .slid-bar .links ul li a {
  color: white !important;
  position: relative;
}
@media (max-width: 768px) {
  .my-profile .slid-bar .links ul li a {
    font-size: 18px !important;
  }
}
.my-profile .slid-bar .links ul li a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  bottom: -10px;
  transition-duration: 0.5s;
}
.my-profile .slid-bar .links ul li a:hover:before,
.my-profile .slid-bar .links ul li.active a::before {
  width: 100%;
}
.profile {
  padding-bottom: 100px;
}

@media (max-width: 425px) {
  .profile .profile-header {
    flex-direction: column;
    gap: 20px;
    align-items: center !important;
  }
}
.profile .profile-header .title {
  font-size: 50px;
}
.profile .profile-header i {
  font-size: 70px;
  border: 3px solid black;
  padding: 40px 50px;
  border-radius: 50%;
}

.profile .profile-form {
  margin-top: 20px;
}
.profile .profile-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.profile .profile-form form .box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .profile .profile-form form .box {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
.profile .profile-form form label {
  width: 30%;
  font-weight: bold;
}
.profile .profile-form form input:not(input[type="submit"]) {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 40px;
  direction: rtl;
}
.profile .profile-form form input[type="submit"] {
  width: fit-content;
  padding: 5px 50px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 40px;
  border: none;
  margin-right: auto;
}
@media (max-width: 425px) {
  .profile .profile-form form label {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .profile .profile-form form label {
    width: 50%;
  }
  .profile .profile-form form input:not(input[type="submit"]) {
    font-size: 15px;
  }
}

/*************************** End My Profile page *****************************/

/*************************** Start My blooger page *****************************/
.blooger .blooger-header a {
  background-color: var(--primary-color);
  color: white !important;
  padding: 5px 20px;
  border-radius: 40px;
}

.blooger .articals .section-title {
  padding: 5px 35px;
  border-radius: 40px 0 0 40px;
  margin-right: -50px;
}

.blooger .articals .box-articals .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  gap: 30px;
}
.blooger .articals .box-articals .box {
  background-color: white;
  border-radius: 25px 25px 0 0;
  border: 1px solid black;
}
.blooger .articals .box-articals .box img {
  border-radius: 25px 25px 0 0;
  width: 100%;
}
.blooger .articals .box-articals .category {
  margin-top: 20px;
  border-radius: 25px 0 0 25px;
  background-color: var(--primary-color);
  width: 90px;
  color: white;
  padding: 2px 10px;
  text-align: start;
}
.blooger .articals .box-articals .title {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.blooger .articals .box-articals .info {
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 15px;
}
.blooger .articals .box-articals .info i {
  color: var(--primary-color);
}
.blooger .articals .box-articals .text-content {
  padding: 0 40px 20px;
  font-weight: 700;
  font-size: 12px;
}

/*************************** End My blooger page *****************************/

/*************************** Start My favorites page *****************************/
.my-favorites-books .books .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}
.my-favorites-books .books .boxes .box {
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  padding: 30px 0px;
}

.my-favorites-books .books .boxes .box img {
  width: 70%;
}
.my-favorites-books .books .boxes .box .categiory {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.my-favorites-books .books .boxes .box .title {
  margin-bottom: 30px;
  font-size: 18px !important;
}
.my-favorites-books .books .boxes .box .price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-favorites-books .books .boxes .box .price {
  width: fit-content;
  margin-right: auto;
  background-color: var(--primary-color);
  padding: 5px 20px;
  color: white;
  border-radius: 0 40px 40px 0;
}
.my-favorites-books .books .boxes .box .cart {
  width: fit-content;
  background-color: var(--primary-color);
  padding: 5px 20px;
  color: white;
  border-radius: 40px 0 0 40px;
  cursor: pointer;
}
/*************************** End My favorites page *****************************/

/*************************** Start Dashboard page *****************************/
.body {
  background-color: #e7e7ee;
}
.dashboard .bg-white {
  padding: 0 !important;
  border-radius: 35px;
  height: 315vh !important;
}
.dashboard .bgdashboard-side-bar {
}
.dashboard .dashboard-side-bar .logo img {
  width: 150px;
}
.dashboard .dashboard-side-bar .links ul li {
  margin-bottom: 25px;
  font-size: 22px;
  padding: 10px 40px;
  border-radius: 40px 0 0 40px;
  margin-right: -32px;
  transition-duration: 0.3s;
}
.dashboard .dashboard-side-bar .links ul li i {
  margin-left: 10px;
  font-size: 30px !important;
}

.dashboard .dashboard-side-bar .links ul li.active {
  background-color: var(--primary-color);
  color: white;
}
.dashboard .dashboard-side-bar .links ul li.active a {
  color: white !important;
}
.dashboard .dashboard-side-bar .links ul li:hover {
  background-color: var(--primary-color);
  color: white;
}
.dashboard .dashboard-side-bar .links ul li:hover a {
  color: white !important;
}
.dashboard .header {
  background-color: white;
  padding: 20px;
  border-radius: 40px;
}
.dashboard .header .search-bar {
  border: 2px solid black;
  width: fit-content;
  border-radius: 40px;
}
.dashboard .header i {
  padding: 5px 15px;
}
.dashboard .header input {
  border: none;
  padding: 5px;
  border-radius: 40px;
  width: 300px;
}
.dashboard .header .user-noti a span {
  position: absolute;
  top: -10px;
  right: 8px;
  background-color: var(--primary-color);
  color: white;
  padding: 1px 5px;
  font-size: 13px;
  border-radius: 50%;
  font-weight: bold;
}
.dashboard .section-box {
  border-radius: 40px;
  background-color: white;
  padding: 20px;
}
.dashboard .overview .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}
.dashboard .overview .boxes .box {
  text-align: center;
  height: 230px;
  padding-top: 30px;
  border-radius: 40px;
}
.dashboard .overview .boxes .box i {
  font-size: 50px;
  color: white;
}
.dashboard .overview .boxes .box .title {
  font-size: 28px;
  color: white;
  font-weight: bold;
  padding: 10px 0 0px;
}
.dashboard .overview .boxes .box span {
  font-size: 25px;
  color: white;
  font-weight: bold;
}
.dashboard .overview .boxes .orange {
  background-color: #ff7b00;
}
.dashboard .overview .boxes .red {
  background-color: #c20000;
}
.dashboard .overview .boxes .blue {
  background-color: #0099ff;
}
.dashboard .table-responsive .table input {
  padding: 1px 20px;
  border: none;
  color: white;
  border-radius: 40px;
}
.dashboard .users-list .table-responsive .table th {
}
.dashboard .table-responsive .table input[value="تعديل"] {
  background-color: #098015;
}
.dashboard .table-responsive .table input[value="حذف"] {
  background-color: #d22323;
}
.dashboard .table-responsive .table .publiched {
  color: #098015;
}
.dashboard .table-responsive .table .pending {
  color: #ff7b00;
}
.dashboard .table-responsive .table .rejected {
  color: #d22323;
}
.dashboard .articals .table-responsive .table a {
  padding: 1px 20px;
  border: none;
  color: white !important;
  border-radius: 40px;
  background-color: #098015;
  text-decoration: none;
}

/*************************** End Dashboard page *****************************/
