/* Start Globle Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

:root {
  --primary-color: #724215;
  --second-color: #a6794f;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/* End Globle Rules */

/* Start Header */
/* Start Navbar */
.links ul li a {
  font-weight: 500;
}
.links ul li a.active,
.links ul li:hover a {
  color: var(--primary-color) !important;
}
.icon-logo .icons svg {
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px;
}
.icon-logo .icons .cart span {
  position: absolute;
  top: -12px;
  right: -5px;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: white;
  padding: 1px 5px;
  font-size: 13px;
}
.icon-logo .logo img {
  width: 30px;
}

/* End Navbar */
/* End Header */
