/* Start Globle Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

:root {
  --primary-color: #724215;
  --second-color: #a6794f;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

/* End Globle Rules */

/* Start Header */
/* Start Navbar */

.links ul li a {
  font-weight: 600;
}
.links ul li a.active,
.links ul li:hover > a {
  color: var(--primary-color) !important;
}
.icons svg {
  border: 1px solid black;
  border-radius: 50%;
  padding: 8px;
}
.icons .cart span {
  position: absolute;
  top: -12px;
  right: -5px;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: white;
  padding: 1px 5px;
  font-size: 13px;
}
a.logo img {
  width: 30px;
}

@media (max-width: 768px) {
  .icons {
    width: fit-content;
    margin: 0 auto;
    flex-direction: row !important;
    gap: 20px;
  }
  .links ul {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
}

/* End Navbar */

/* Start Landing */
header .landing {
  width: 100%;
  height: 100vh;
  padding: 40px 0;
  background-image: url(../img/release-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(114, 66, 21, 0.6);
}
.landing .landing-content .last-releases-books {
  margin-top: 2rem;
}
.landing .landing-content .last-releases-books .text h1:nth-of-type(1) {
  font-size: 30px;
}
.landing .landing-content .last-releases-books .text h1:nth-of-type(2) {
  font-size: 120px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.landing .landing-content .last-releases-books .text h1:nth-of-type(3) {
  font-size: 60px;
}
.landing .landing-content .last-releases-books .imgs {
  width: 500px;
}
.landing .landing-content .last-releases-books .imgs img {
  width: 150px;
}
.landing .wave {
  position: absolute;
  width: 100%;
  bottom: -50px;
}
/* End Landing */

/* End Header */
